pytz
psycopg2==2.4.5
SQLAlchemy==0.7.6
thrift==0.8.0
pyzmq==2.1.11
greenlet==0.4.0
gevent==0.13.7
gevent-zeromq==0.2.2
protobuf==2.4.1
riak==1.4.0
twilio==3.4.5

git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/zookeeper.git@3.3.5#egg=zookeeper
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trpycore.git@0.11.0#egg=trpycore
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trhttp.git@0.5.0#egg=trhttp
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trhttp_gevent.git@0.5.0#egg=trhttp_gevent
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/tres.git@0.5.0#egg=tres
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/tres_gevent.git@0.5.0#egg=tres_gevent
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trrackspace.git@0.3.0#egg=trrackspace
git+ssh://dev.techresidents.com/tr/repos/techresidents/services/core/python/trsvcscore.git@0.31.0#egg=trsvcscore

http://nexus.dev.techresidents.com/content/groups/public/com/techresidents/services/core/idl/idl-core-python/0.7.0/idl-core-python-0.7.0-bin.tar.gz#egg=tridlcore
http://nexus.dev.techresidents.com/content/groups/public/com/techresidents/services/chatsvc/chatsvc-idl-python/0.28.0/chatsvc-idl-python-0.28.0-bin.tar.gz#egg=trchatsvc
http://nexus.dev.techresidents.com/content/groups/public/com/techresidents/services/apisvc/apisvc-idl-python/0.22.0/apisvc-idl-python-0.22.0-bin.tar.gz#egg=trapisvc
